<div ng-controller="ToggleCtrl">
	<p ng-show="!on">
		<toggle-link id="openEndDate" focus-to="endDate" on-press="updateEndDate()">+End<span class="sr-only"> (Open end date/time section)</span></toggle-link>
	</p>
	<div class="row" ng-show="on">
		<div class="col-xs-7 col-sm-3 col-md-3 col-lg-4" ng-class="getValid()" ng-controller="FormGroupCtrl" add-input bootstrap-valid>
			<label for="endDate">End Date </label>
			<toggle-link class="toggle-button" focus-to="openEndDate" on-press="event.endDate = null; event.endTime = null"><span class="sr-only"> (Clear end date/time)</span></toggle-link>
			<input type="date" class="form-control" id="endDate" name="endDate" ng-model="event.endDate" placeholder="YYYY-MM-DD" ng-min="event.startDate" ng-change="updateEndTimeMin()" aria-invalid="{{input.$invalid ? 'true' : 'false'}}" date>
			<span ng-show="input.$valid" class="help-block">{{event.endDate | date:'EEE dd MMM yyyy'}}</span>
			<span class="help-block" ng-show="input.$error.date" role="alert">Invalid date.</span>
			<span ng-show="input.$error.min" class="help-block" role="alert">Date cannot be prior to start date</span>
		</div>
		<div class="col-xs-5 col-sm-9 col-md-9 col-lg-8 col-right" ng-class="getValid()" ng-controller="FormGroupCtrl" add-input bootstrap-valid>
			<label for="endTime"><span class="sr-only">End </span>Time</label>
			<input type="time" class="form-control" id="endTime" name="endTime" ng-model="event.endTime" step="900" placeholder="Ex: 12:00 pm" ng-min="event.endTimeMin" aria-invalid="{{input.$invalid ? 'true' : 'false'}}" time>
			<span class="help-block" ng-show="event.endTime">{{event.endTime | date:'hh:mm a'}}</span>
			<span class="help-block" ng-show="input.$error.min" role="alert">End time cannot precede start time</span>
			<span ng-show="input.$dirty && input.$error.time" class="help-block" role="alert">Invalid time. Use format &lt;HH:MM AM|PM&gt;</span>
		</div>
	</div>
</div>