<div ng-controller="ToggleCtrl">
  <p ng-show="!on"><toggle-link id="openEventType" focus-to="eventType">+Type<span class="sr-only"> (Open event type section)</span></toggle-link></p>
	<div class="form-group" ng-class="{'has-success': event.type}" ng-show="on">
		<label for="eventType">Type</label>
    <toggle-link class="toggle-button" focus-to="openEventType" on-press="event.type = null"><span class="sr-only"> (Clear event type)</span></toggle-link>
		<input list="types" class="form-control" id="eventType" placeholder="Ex: Meeting" ng-model="event.type" data-next="form.host.isOn() ? 'host' : 'openHost'">
		<datalist id="types">
			<option ng-repeat="eType in eventTypes | orderBy:eType">{{ eType | capitalize }}</option>
		</datalist>
	</div>
</div>