<div ng-controller="ToggleCtrl">
	<p ng-show="!on"><toggle-link id="openGuests" focus-to="addGuest">+Guests<span class="sr-only"> (Open guests section)</span></toggle-link></p>

	<div class="form-group" ng-show="on" ng-class="getValid()" ng-controller="FormGroupCtrl" extra-class="{'has-warning': input.$warnings.duplicate}" add-input bootstrap-valid>
		<label>Guests</label>
		<toggle-link class="toggle-button" focus-to="openGuests" on-press="clearGuests()"><span class="sr-only"> (Clear guests)</span></toggle-link>
		<div class="row">
			<div class="col-sm-6">
				<div class="guestlist" aria-live="polite">
					<p ng-show="!event.guests">(No guests yet)</p>
					<p class="title-case" ng-repeat="guest in event.guests | orderBy:guest"><a ng-click="removeGuest($index)" ng-keypress="(($event.keyCode || $event.which) == 13) && focusId('#addGuest') && removeGuest($index)" class="delete" tabindex="0">&#x2715;</a>{{guest}}</p>
				</div>
			</div>
		</div>
		<div class="form-inline">
			<input type="text" class="form-control" id="addGuest" ng-model="event.tempGuest" name="addGuest" placeholder="Type a name..." ng-keypress="($event.which == 13) && cancelEvent($event) && !input.$warnings.duplicate && addGuest(input.$viewValue) && (event.tempGuest = null)" warn-duplicate="event.guests" autocomplete="off">
			<div ng-click="!input.$warnings.duplicate && addGuest(input.$viewValue) && (event.tempGuest = null)" ng-keypress="!input.$warnings.duplicate && addGuest(input.$viewValue) && (event.tempGuest = null)" class="btn btn-default" role="button">Add Guest</div>
		</div>
		<p class="help-block" ng-show="input.$warnings.duplicate" role="alert">Name already on guest list</p>
	</div>
</div>
