<div class="text-center">
  <div ng-show="!amLoggedIn()">
    <h3>Get Started</h3>
    <p>You must register to create and view events</p>

    <ng-include src="'register/register-partial.html'" class="row"></ng-include>
  </div>
  
  <div ng-if="amLoggedIn()" class="row" ng-cloak>
    <h2 class="bottom-spacer" id="tableLabel">My Events</h2>

    <div class="col-xs-12">
      <table class="table table-striped text-left" aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th class="hidden-xs">Location</th>
            <th class="hidden-xs hidden-sm">Time</th>
            <th class="center-xs">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in user.events">
            <td>{{ event.startDate | date }}</td>
            <td><a href="/#/event/{{event.id}}">{{ event.name }}</a></td>
            <td class="hidden-xs">{{ event.location }}</td>
            <td class="hidden-xs hidden-sm">{{ event.startTime | date:'shortTime' }}</td>
            <td><a class="delete center-xs" ng-click="user.removeEvent(event.id)" tabindex="0"><span class="visible-xs-inline glyphicon glyphicon-remove"></span><span class="hidden-xs"> [remove]</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p ng-hide="user.numEvents">No events yet! <br><a href="#/new-event">Create a new event</a></p>
    <p ng-show="user.numEvents"><a href="#/new-event">Add another event</a></p>
  </div>
</div>
